<h1>Create project</h1>
{{#if hasDatabaseError}}
<p>Failed trying to insert data to the database. Please try again later.</p>
{{else}}
{{#if errors.length}}
<p>Couldn't create the project because:</p>
<ul>
    {{#each errors}}
    <li class="errors">{{this}}</li>
    {{/each}}
</ul>
{{/if}}
<form method="POST" action="/projects/create">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    Title<br>
    <input type="text" name="title" value="{{title}}"><br>
    Description<br>
    <textarea name="description">{{description}}</textarea><br>
    Link<br>
    <textarea name="linkToProject">{{linkToProject}}</textarea><br>
    <input type="submit" value="Create" class="btn btn-primary">
</form>
{{/if}}